/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*CSS variables */
:root {
<<<<<<< Updated upstream
    --primary-color: #253033;
    --secondary-color: #D3D3D3;
    --dark-grey: #2b2b2b;
    --font-color: #FFFFFF;
    --anchor-purple: #8d4ae6;
    --anchor-visited: #7b9eff;
    --anchor-active: #489c79;
    --button-bg-color: #002a9c;
    --button-border-color: 3085CA;
    --contact-blue: #7b9eff;
    --black-font: #000;
    --sun-0: #edc655;
    --sun-50: #fcffad;
    --sun-100: #f76414;
    --padding-10: padding: 10px;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  footer > a {
    text-decoration: none;
  }
  body {
    background-color: var(--primary-color);
    font-style: "Nanum Gothic", sans-serif;
    color: var(--font-color);
    font-weight: bold;
    font-size: 16px;
  }
  header {
    background-color: inherit;
    color: inherit;
    font-style: inherit;
    font-weight: inherit;
  }
  a {
    color: var(--anchor-purple);
    text-decoration: none;
  }
  a:visited {
    /* visited link */
    color: var(--anchor-visited);
  }
  a:hover,
  :focus {
    -webkit-text-decoration-style: wavy;
            text-decoration-style: wavy;
  }
  a:active {
    /* selected link */
    color: var(--anchor-active);
  }
  button,
  .button {
    border: 10px;
    font-family: inherit;
    background-color: var(--button-bg-color);
    color: var(--font-color);
    text-decoration: none;
    padding: 2px;
    border-radius: 3px;
    border-bottom: 2px solid var(--button-border-color);
  }
  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    cursor: pointer;
    opacity: 0.5;
  }
  
  .contact_me {
    color: var(--contact-blue);
  }
  .profile__portrait {
    float: left;
    width: 250px;
    margin: 40px;
    border-radius: 20%;
  }
  .page-footer {
    clear: both;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .profile {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .social_media {
    clear: both;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 5px;
  }
  .page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100px;
            flex: 0 1 100px;
    width: 100px;
  }
  .page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }
  .navigation-list {
    list-style-type: none;
  }
  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }
=======
  --primary-color: #253033;
  --secondary-color: #D3D3D3;
  --dark-grey: #2b2b2b;
  --font-color: #FFFFFF;
  --anchor-blue: #B8C7FF;
  --anchor-visited: #B8C7FF;
  --anchor-active: #489c79;
  --button-bg-color: #1032ad;
  --button-border-color: #3085CA;
  --contact-blue: #2e63f7;
  --black-font: #000;
  --sun-0: #edc655;
  --sun-50: #fcffad;
  --sun-100: #f76414;
  --a-contrast-color: ##2e1670;
  --gh-contrast-blue: #2e63f7;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
footer > a {
  text-decoration: none;
}
body {
  background-color: var(--primary-color);
  font-style: "Nanum Gothic", sans-serif;
  color: var(--font-color);
  font-weight: bold;
  font-size: 16px;
}
header {
  background-color: inherit;
  color: inherit;
  font-style: inherit;
  font-weight: inherit;
}
a {
  color: var(--anchor-blue);
  text-decoration: none;
}
a:visited {
  /* visited link */
  color: var(--anchor-blue);
}
a:hover,
:focus {
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}
a:active {
  /* selected link */
  color: var(--anchor-blue);
}
button,
.button {
  border: 10px;
  font-family: inherit;
  background-color: var(--button-bg-color);
  color: var(--font-color);
  text-decoration: none;
  padding: 2px;
  border-radius: 3px;
  border-bottom: 2px solid var(--button-border-color);
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.5;
}

.contact_me {
  color: var(--contact-blue);
}
.profile__portrait {
  float: left;
  width: 250px;
  margin: 40px;
  border-radius: 20%;
}
.page-footer {
  clear: both;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.profile {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.social_media {
  clear: both;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px;
}
.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  width: 100px;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.grid__item {
  background-color: var(--secondary-color);
  color: var(--black-font);
  padding: 20px;
}
.grid__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3;
      grid-column-start: 3;
      grid-column: 3;
  grid-column-start: 3;
  grid-row: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}
/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}
/* end grid fallback */
@supports (display: grid) {
>>>>>>> Stashed changes
  .grid {
    display: -ms-grid;
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
  .grid__item {
    background-color: var(--secondary-color);
    width: auto;
    min-height: auto;
    margin: 0;
  }
  .grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}
h2 {
  font-weight: bold;
  font-size: 20px;
}
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secondary-color);
  padding: 20px 0;
  border-radius: 19%;
  color: var(--black-font);
}
.opening__statement {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-header__logo {
  width: 10%;
}
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns:  1fr;
    grid-template-columns:  1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns:  1fr 20px 1fr;
    grid-template-columns:  1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
.my_work {
  text-align: center;
  padding: 10px;
}
.enjoy__container {
  text-align:center;
  }
  .enjoy__list {
    display: inline-block;
    margin: 0;
    padding: 10px;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
  }
  .enjoy__li {
    float: left;
          padding: 2px 5px;
          border: 1px solid var(--font-color);
  }
.button, button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--button-bg-color);
  color: var(--font-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--black-font);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes color-change {
  0% {
    fill: var(--sun-0);
  }
  50% {
    fill: var(--sun-50);
  }
  100% {
    fill: var(--sun-100);
  }
}
@keyframes color-change {
  0% {
    fill: var(--sun-0);
  }
<<<<<<< Updated upstream
  .enjoy__container {
    text-align:center;
    }
    .enjoy__list {
      display: inline-block;
      margin: 0;
      padding: var(--padding-10);
      /* For IE, the outcast */
      zoom:1;
      *display: inline;
    }
    .enjoy__li {
      float: left;
            padding: 2px 5px;
            border: 1px solid var(--font-color);
    }
  .button, button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--button-bg-color);
    color: var(--font-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--black-font);
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    margin-left: auto;
    margin-right: auto;
=======
  50% {
    fill: var(--sun-50);
>>>>>>> Stashed changes
  }
  100% {
    fill: var(--sun-100);
  }
}
.sun  {
-webkit-animation: 4s color-change infinite alternate linear;
        animation: 4s color-change infinite alternate linear;
}
@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}
@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}
.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}
@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
<<<<<<< Updated upstream
  
  
=======
}
.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}
.flex-outer li,
.flex-inner {
display: flex;
flex-wrap: wrap;
align-items: center;
}
.flex-outer > li > label,
.flex-outer li p {
flex: 1 0 120px;
max-width: 220px;
}
.flex-outer > li > label + *,
.flex-inner {
flex: 1 0 220px;
}
.flex-outer li button {
margin-left: auto;
padding: 8px 16px;
border: none;
background: var(--contact-blue);
color: var(--font-color);
text-transform: uppercase;
letter-spacing: .09em;
border-radius: 2px;
}
.flex-inner li {
width: 100px;
}
.flex-inner {
justify-content: space-between;
}
.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  position: relative;
      max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: content-box;
}
>>>>>>> Stashed changes
